.catalo_wrap::after {
    display: block;
    clear: both;
    content: "";
}

.catalog_product_unit {
    box-sizing: border-box;
    float: left;
    border: 1px black solid;
    width: 30%;
    margin-right: 5%;
}

.catalog_product_unit:nth-child(3n) {
    margin-right: 0;
}

.catalog_product_unit:nth-child(n+4) {
    margin-top: 30px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .catalog_product_unit {
        width: 48%; /* Увеличиваем ширину для большего экрана мобильных устройств */
        margin-right: 4%;
        margin-bottom: 20px; /* Добавляем нижний отступ для пространства между строками */
    }

    .catalog_product_unit:nth-child(2n) {
        margin-right: 0;
    }

    .catalog_product_unit:nth-child(n+3) {
        margin-top: 0; /* Убираем верхний отступ для меньших экранов */
    }
}

@media (max-width: 576px) {
    .catalog_product_unit {
        width: 100%; /* Полная ширина для мобильных устройств */
        margin-right: 0;
        margin-bottom: 20px; /* Добавляем нижний отступ для пространства между строками */
    }

    .catalog_product_unit:nth-child(n+2) {
        margin-top: 0; /* Убираем верхний отступ для меньших экранов */
    }
}
